.product-details {
    margin-top: 1.2em;

    .product-image {
        margin-top: 1.5em;

        img {
            width: 85%;
        }
    }

    .product-info {
        margin-top: 4.5em;
        padding: 0 2.5em;

        .caption {
            font-size: 1.5em;
        }
    }
}
