@import 'colors';

@font-face {
    font-family: fancy;
    src: url('../fonts/fancy.ttf');
}

body {
    color: $primary-color;
    margin: 0;

    .fancy {
        font-family: fancy;
    }

    .app {
        .center {
            text-align: center;
        }

        .container {
            margin: 0 auto;
            width: 1000px;
        }
    }
}
