@import '../../assets/css/colors';

.header {
    .header-awning {
        background-image: url(../../assets/images/header.png);
        height: 88px;
    }

    .header-logo {
        background-image: url(../../assets/images/logo.png);
        background-position-x: center;
        background-repeat: no-repeat;
        height: 195px;
    }

    .header-bottom-bar {
        background-color: $primary-color;
        height: 24px;
    }
}
